.main {
  min-height: 100%;
  color: $font-primary-color;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  background-image: url("./images/bg-main.png");
  background-size: 75px 75px;
  background-repeat: repeat;
  background-position: 0 0;
  background-color: transparent;
}
