$grey: #777777;
$light-grey: #d7d7d2;
$orange: #ff7a00;
$blue: #00aaea;
$dark-blue: #00729e;
$dark-orange: #b35500;
$white: #ffffff;

$primary-color: $orange;
$second-color: $blue;
$font-primary-color: $grey;

$border-color: $light-grey;

$button-primary-color: $primary-color;
$button-second-color: $second-color;
$button-primary-box-shadow-color: $dark-orange;
$button-second-box-shadow-color: $dark-blue;

$footer-color: $primary-color;
$primary-link-color: $primary-color;
$second-link-color: $second-color;
